<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.debairro_tcc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Splash">
        <activity
            android:name=".MaquinaCadastradaActivity"
            android:exported="true"
            android:theme="@style/Theme.DeBairro_TCC"/>
        <activity
            android:name=".SuporteConfiguracaoActivity"
            android:exported="true"
            android:theme="@style/Theme.DeBairro_TCC"/>
        <activity
            android:name=".ConfiguracaoSobreActivity"
            android:exported="true"
            android:theme="@style/Theme.DeBairro_TCC"/>
        <activity
            android:name=".AlterarPermissoesActivity"
            android:exported="true"
            android:theme="@style/Theme.DeBairro_TCC"/>
        <activity
            android:name=".AdicionarFuncionarioActivity"
            android:exported="true"
            android:theme="@style/Theme.DeBairro_TCC"/>
        <activity
            android:name=".MoedaLayout"
            android:exported="true"
            android:theme="@style/Theme.DeBairro_TCC"/>
        <activity
            android:name=".InformacoesUsuarioActivity"
            android:exported="true"
            android:theme="@style/Theme.DeBairro_TCC"/>
        <activity
            android:name=".AdicionarMaquininhaActivity"
            android:exported="true"
            android:theme="@style/Theme.DeBairro_TCC"/>
        <activity
            android:name=".ConfiguracaoInicialActivity"
            android:exported="true"
            android:theme="@style/Theme.DeBairro_TCC">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdicionarEntradaSaida"
            android:exported="true"
            android:theme="@style/Theme.DeBairro_TCC"/>
        <activity
            android:name=".TelaPrincipalActivity"
            android:exported="true"
            android:theme="@style/Theme.DeBairro_TCC">
        </activity>
        <activity
            android:name=".AdicionarProduto2Activity"
            android:exported="true"
            android:theme="@style/Theme.DeBairro_TCC"/>
        <activity
            android:name=".AdicionarCliente2Activity"
            android:exported="true"
            android:theme="@style/Theme.DeBairro_TCC"/>
        <activity
            android:name=".AdicionarClienteActivity"
            android:exported="true"
            android:theme="@style/Theme.DeBairro_TCC"/>
        <activity
            android:name=".AdicionarProdutoActivity"
            android:exported="true"
            android:theme="@style/Theme.DeBairro_TCC"/>
        <activity
            android:name=".NovaVendaLayoutActivity"
            android:exported="true"
            android:theme="@style/Theme.DeBairro_TCC"/>
        <activity
            android:name=".Cadastro2Activity"
            android:theme="@style/Theme.DeBairro_TCC"/>
        <activity
            android:name=".CadastroTipoContaActivity"
            android:exported="true"
            android:theme="@style/Theme.DeBairro_TCC"/>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.DeBairro_TCC"/>
        <activity
            android:name=".CadastroActivity"
            android:theme="@style/Theme.DeBairro_TCC"/>
        <activity
            android:name=".InicialActivity"
            android:theme="@style/Theme.DeBairro_TCC"/>
        <activity
            android:name=".CadastroAdministrador"
            android:theme="@style/Theme.DeBairro_TCC"/>
        <activity
            android:name=".CadastroFuncionarioActivity"
            android:theme="@style/Theme.DeBairro_TCC"/>
        <activity
            android:name=".IdiomaActivity"
            android:theme="@style/Theme.DeBairro_TCC"/>
    </application>

</manifest>